<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            id="org.jboss.orion.cordovasim.httpcontext">
         <resource-mapping
               bundle="org.jboss.orion.cordovasim"
               path="/web">
         </resource-mapping>
      </httpcontext>
   </extension>
      <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/ripple/assets"
            httpcontextId="org.jboss.orion.cordovasim.httpcontext">
      </resource>
   </extension>
      <extension
            point="org.eclipse.equinox.http.registry.servlets">
         <servlet
               alias="/ripple/user-agent"
               class="org.jboss.orion.cordovasim.internal.servlets.StaticResponseServlet">
         </servlet>
         <servlet
               alias="/ripple/xhr_proxy"
               class="org.jboss.orion.cordovasim.internal.servlets.CrossOriginProxyServlet">
         </servlet>
         <servlet
               alias="/ripple/formatData"
               class="org.jboss.orion.cordovasim.internal.servlets.FormatDataServlet">
         </servlet>
         <servlet
               alias="/temp-photo/*"
               class="org.jboss.orion.cordovasim.internal.servlets.HostFileServlet">
         </servlet>
         <servlet
               alias="/ripple/fileUpload"
               class="org.jboss.orion.cordovasim.internal.servlets.UploadFileServlet">
         </servlet>
         <servlet
               alias="/cordovaserve"
               class="org.jboss.orion.cordovasim.internal.servlets.RippleServeServlet">
         </servlet>
      </extension>
      <extension
            point="org.eclipse.equinox.http.registry.filters">
         <filter
               alias="/ripple/assets/CordovaSim.html"
               class="org.jboss.orion.cordovasim.internal.servlets.RewriteRippleFilter">
         </filter>
      </extension>
</plugin>
