<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/broker"
            class="org.jboss.orion.openshift.server.proxy.JsonProxyServlet">
      </servlet>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/defaults.pref"
            class="org.jboss.orion.openshift.server.core.OpenshiftDefaulsPrefs">
      </filter>
   </extension>

</plugin>
